* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: url("../../../../assets/header.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 23%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient(135deg, #9f05ff69 10%, #2108fd6b 100%); */
    background-image: linear-gradient(135deg, #9f05ff69 10%, rgba(27, 31, 35, 0.2) 100%);
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    margin-bottom: 30px;
}

h3,
p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #0095ff;
    margin-bottom: 0;
    box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
    cursor: pointer;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    margin: 8px 0;
}

h2 {
    margin-top: 4%;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
}

.tollbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2.5%;
    margin-top: -2.5%;
}

.content {
    color: #000000;
    background-image: url("../../../../assets/bg.jpg");
    background-size: 100%;
    background-position: bottom;
    display: flex;
    padding: 0 16px;
    min-height: 650px;
    flex-direction: column;
    align-items: center;
    margin-top: -11%;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
}

svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

.terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
}

.terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
}

.terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.table {
    margin-top: 1%;
}

.select-level {
    margin-top: 13%;
}

.mat-button-toggle-appearance-standard {
    background: #cbcbcb73;
}

.mat-button-toggle-checked {
    background-color: #e0e0e0 !important;
}

.mat-form-field {
    width: 60%;
    border-radius: 51%;
}

.btn-search,
.btn-load {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.btn-load {
    margin-bottom: 15%;
}

.input-search {
    text-align: center;
}

h3.level-title-top {
    margin-top: 12%;
    margin-bottom: -12%;
    text-shadow: 1px 1px 1px #333;
}

h3.not-found,
h3.level-title-bottom {
    text-shadow: 1px 1px 1px #333;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }

    .container {
        margin-top: 6.9%;
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}
