<header>
    <div class="overlay">
        <div class="tollbar-content">
            <img width="320" alt="Digimon Logo" src="../assets/logo.png" />
        </div>

        <h1>Teste Angular</h1>
        <h3>Bem vindo ao Digimundo!</h3>
        <br>

        <form (ngSubmit)="searchByName()" class="search-form">
            <mat-form-field class="mat-form-field">
                <span matPrefix> </span>
                <input clss="input-search" type="search" matInput placeholder="Procure o Digimon pelo nome..."
                    name="search" [(ngModel)]="name" (ngModelChange)="onModelChange($event)">
            </mat-form-field>
            <br>
            <button class="btn-search">Buscar</button>
        </form>
    </div>
</header>

<div class="content" role="main">
    <h3 class="level-title-top">Ou procure por nível!</h3>

    <!-- Menu Select Level -->
    <mat-button-toggle-group #group="matButtonToggleGroup" class="select-level" [value]="selectLevel"
        (change)="onLevelChange(group.value)">
        <mat-button-toggle value="" aria-label="Todos">
            <img width="60" alt="Todos" src="../assets/fav.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Fresh" aria-label="Fresh">
            <img width="60" alt="Fresh" src="../assets/level 1.png" />
        </mat-button-toggle>
        <mat-button-toggle value="In Training" aria-label="In Training">
            <img width="60" alt="In Training" src="../assets/level 2.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Rookie" aria-label="Rookie">
            <img width="60" alt="Rookie" src="../assets/level 3.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Champion" aria-label="Champion">
            <img width="60" alt="Champion" src="../assets/level 4.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Ultimate" aria-label="Ultimate">
            <img width="60" alt="Ultimate" src="../assets/level 5.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Mega" aria-label="Mega">
            <img width="60" alt="Mega" src="../assets/level 6.png" />
        </mat-button-toggle>
    </mat-button-toggle-group>
    <h3 class="level-title-bottom">{{group.value}}</h3>

    <!-- Not found -->
    <ng-container class="container" *ngIf="dataSource.length === 0">
        <h3 class="not-found">Não foi encontrado nenhum digimon!</h3>
    </ng-container>

    <!-- Cards -->
    <div class="card-container">
        <mat-card class="card" *ngFor="let digimon of dataSource; index as i;">
            <mat-card-header>
                <mat-card-title>{{digimon.name}}</mat-card-title>
                <mat-card-subtitle>{{digimon.level}}</mat-card-subtitle>
            </mat-card-header>
            <img class="card-img" width="175" mat-card-image src={{digimon.img}} alt={{digimon.name}}>
            <mat-card-content>
                <p class="card-span" *ngIf="digimon.level === 'Fresh'">
                    Sem desenvolvimento, sem capacidade
                    ofensiva e depende de cuidados.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'In Training'">
                    Inicio do desenvolvimento, usa ataques básicos e é incapaz de lutar.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Rookie'">
                    Desenvolveu o tamanho e a inteligência. É capaze de lutar com uma variedade maior de
                    ataques.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Champion'">
                    Evolução máxima para a maioria dos Digimons. Possui grandes dimensões e geralmente
                    é um líder.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Ultimate'">
                    Sobreviveu ao desgaste da evolução, se tornou poderoso e pode usar ataques
                    devastadores.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Mega'">
                    Auge da evolução. É extremamente raro, fez a história do digimundo e possui um
                    poder imensurável.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Tabela -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Img </th>
            <td mat-cell *matCellDef="let element">
                <img width="175" alt={{element.name}} src={{element.img}} />
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Level </th>
            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    <br>

    <form (ngSubmit)="getMoreResults()" class="search-form">
        <button class="btn-load">Carregar mais digimons</button>
    </form>

    <!-- Footer -->
    <!-- <footer> -->
    <!-- Love Angular?&nbsp; -->
    <!-- <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
            <div class="github-star-badge">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                </svg>
                Star
            </div>
        </a>
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </a> -->
    <!-- </footer> -->

</div>